<!-- views/partials/_deleteButton.ejs -->
<!-- When the user clicks on this button we want to send a request to the server that contains the shortened url and the keyword delete -->







<form method="POST" action='/urls/<%=url%>/delete' style='margin: 15px; display: inline'>
  <input type='submit' value='Delete this link'>
</form>