<header class="page-header">
  <h1>TinyApp</h1>
    <div class='login'>
    <% if (!user_id === false) { %>
      <form action='/logout' method='GET'>
        <label for=username'><%= user_id.email %></label>
        <input type='submit' value='Log Out'>
      </form>
    <% } else { %>
      <form action='/login' method='GET'>
        <input type='submit' value='Log In'>
      </form>
      <form action='/register' method='GET'>
        <input type='submit' value='Register'>
      </form>
    <% } %>
    <form action='/' method='GET'>
      <input class='homeBut' type='submit' value='home'>
    </form>
  </div>
</header>