<header class="page-header">
  <h1>TinyApp</h1>
    <div class='login'>
    <% if (username) { %>
      <p><%= username %></p>
    <% } else { %>
    <form action='/login' method='POST'>
      <label for=username'>Enter your username:</label>
      <input id='username' type='text' name='username' placeholder="What's your name?" style='width:300px'>
      <input type='submit' value='Log In'>
    </form>
    <% } %>
  </div>
</header>