<header class="page-header">
  <h1>TinyApp</h1>
    <div class='login'>
    <% if (user_id) { %>
      <form action='/logout' method='POST'>
        <label for=username'><%= user_id.username %></label>
        <input type='submit' value='Log Out'>
      </form>
    <% } else { %>
      <form action='/login' method='POST'>
        <label for=username'>Enter your username:</label>
        <input id='username' type='text' name='username' placeholder="What's your name?" style='width:300px'>
        <input type='submit' value='Log In'>
      </form>
    <% } %>
    <form action='/' method='GET'>
      <input class='homeBut' type='submit' value='home'>
    </form>
  </div>
</header>