<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp Home Page</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <h1>Hello, this is my url shortener project. Want to see the current list of shortened urls?</h1>
    <p>Try <a href="/urls">Clicking here</a>.</p>
  </body>

</html>